form {
  border: 1px solid black;
  border-collapse: collapse;
  width: 106%;
  height: 600px;
  margin-left: -20px;
  margin-right: -25px;
  margin-top: -19px;
  margin-bottom: -20px;
}

table {
  border-bottom: 1px solid black;
  width: 100%;
}
th {
  border-left: 1px solid black;
}
.title {
  width: 25%;
  height: 10px;
  font-size: 20px;
}
.mintitle {
  padding-top: 10px;
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
}
label{
  margin-top: 20px;
  margin-left: 30px;
}
.allBtn {
  margin-top: 50px;
  margin-left: 90px;
}
.btnClear {
  margin-left: 20px;
  width: 12%;
  height: 35px;
}
.txtname {
  margin-left: 120px;
}
.txtemail {
  margin-left: 65px;
}
.txtpwd {
  margin-left: 95px;
}
.txttype {
  margin-left: 130px;
}
.txtphone {
  margin-left: 120px;
}
.txtdob {
  margin-left: 75px;
}
.txtaddress {
  margin-left: 107px;
}
.txtupload {
  margin-left: 255px;
}
.bdiv {
  padding-top: 0px;
}
